.section-resume {
  margin: 0 auto;
  text-align: center;
}

.resume {
  margin: 2rem;
  box-shadow: 0 8px 16px rgb(26, 25, 25); /* Adjust shadow values as needed */
}

.section-resume > button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  margin: 1rem;
  border-radius: 2rem;
  font-weight: bold;
  background-image: var(--fancy-color);
  color: #fff;
  box-shadow: 0 8px 16px rgb(26, 25, 25); /* Adjust shadow values as needed */
  transition: transform 200ms ease-in-out;
}

.section-resume > button:hover {
  transform: scale(1.1);
}

.section-resume > button:active {
  background-image: linear-gradient(
    to right,
    hsl(255, 70%, 51%),
    hsl(310, 32%, 58%)
  );
}
