:root {
  --p-font-size: 1.2rem;
  --fancy-color: linear-gradient(to right, #6944c2, #b572b7);
}

#full-stack {
  margin-top: -2rem;
}

#project-button {
  font-size: var(--p-font-size);
  padding: 16px 2rem;
  border-radius: 8px;
  background-color: #7d6ae9;
  display: inline-block;
  font-weight: 500;
}
#project-button > span {
  margin: 0 1rem;
}

.container-home {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
