:root {
  --logo-font-size: 1.8rem;
  --nav-links-font-size: 1.4rem;
  --fancy-color: linear-gradient(to right, #6944c2, #b572b7);
  /*  */
  --h1-font-size: 3.4rem;
  /* --p-font-sizes: 12px; */
  --p-font-color: #7c7a7e;
  --p-line-height: 36px;
  --p-word-spacing: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

h1 {
  font-size: var(--h1-font-size);
}

p {
  font-size: 1.4rem;
  color: var(--p-font-color);
  line-height: var(--p-line-height);
  word-spacing: var(--p-word-spacing);
}

.App {
  min-height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  min-width: 1200px;
}

.container-nav {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

@keyframes logo-animation {
  0% {
    color: #6944c2;
  }
  50% {
    color: #b572b7;
  }

  100% {
    color: #6944c2;
  }
}

/* logo */
.container-nav > div > li {
  padding: 0.8rem 4rem;
  font-size: var(--logo-font-size);
  font-weight: 700;
  position: absolute;
  animation: logo-animation 3s infinite linear;
}

.container-nav > nav {
  display: flex;
  margin: 0 auto;

  font-size: var(--nav-links-font-size);
  font-weight: 400;
}

.container-nav > nav > li > a {
  display: block;
  padding: 1rem 2.5rem;
  width: max-content;
}

.active {
  background-image: var(--fancy-color);
  background-clip: text;
  color: transparent;
}

nav > li > a:hover {
  color: #b572b7;
  transition: color 300ms ease-in-out;
}

/* main */
.container {
  padding: 2rem;
}

#gt {
  font-size: 1.6rem;
}

#fancy-text {
  background-image: var(--fancy-color);
  background-clip: text;
  color: transparent;
}

.list-style-type {
  list-style-type: circle;
  font-size: 1.3rem;
  color: var(--p-font-color);
  line-height: 1.8rem;
  word-spacing: 2px;
}

footer {
  background-color: #7d6ae9;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

footer > p {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}
