/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

:root {
  --scrollbar-color: white;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #1c1f23;
  color: #ffff;
}

/* ::-webkit-scrollbar {
  width: 1px;
} */

::-webkit-scrollbar-thumb {
  background-color: var(
    --scrollbar-color
  ); /* Change the color to your preference */
}

::-webkit-scrollbar-track {
  background-color: #a88d8d00; /* Change the color to your preference */
}
